<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.courser">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Courser">
        <activity android:name="comp3350.courser.presentation.WorkspaceActivity" />
        <activity
            android:name="comp3350.courser.presentation.CreateNewCourse"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_create_new_course"
            android:theme="@style/Theme.Courser.NoActionBar" />
        <activity
            android:name="comp3350.courser.presentation.CreateNewLab"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_create_new_lab"
            android:theme="@style/Theme.Courser.NoActionBar" />
        <activity
            android:name="comp3350.courser.presentation.CreateNewSection"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_create_new_section"
            android:theme="@style/Theme.Courser.NoActionBar"/>
        <activity
            android:name="comp3350.courser.presentation.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Courser.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>